@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-blue: #031d4d;
    --light-blue: #138bd2;
    --light-green: #b2d225;
}

#header_menu li {
    list-style: none;
    margin: 0 0 0 16px;
}

#header_menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark-blue);
}

#header_menu a:hover {
    color: var(--light-blue);
}

#btn_float_whatsapp {
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: rgba(0,0,0,.3) 0 5px 10px;
    border-radius: 16px;
}

#services {
    background: var(--dark-blue) url('images/bg_services.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0;
}

#services img {
    max-width: 150px;
    width: 100%;
}

.service {
    margin: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 180px;
    cursor: pointer;
}

.service_icon {
    background-color: var(--light-blue);
    padding: 24px;
    border-radius: 24px;
}

#contact {
    padding: 60px 0;
    background: url('images/bg_contact.jpg') no-repeat center center;
    background-size: cover;
}

#contact-title {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    line-height: 100%;
}

#contact-title span {
    font-weight: bold;
    color: var(--dark-blue);
}

#contact form {
    background: #fff;
    padding: 24px 0 0 0;
    border-radius: 24px;
}

#contact .form-group {
    margin-bottom: 16px;
}

#contact label {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-blue);
}

#contact .form-control {
    border: none;
    background-color: #efefef;
    border-radius: 50px;
    padding: 8px;
}

#contact_btn_send {
    margin: 0;
    width: 100%;
}

#contact_btn_send input {
    width: 100%;
    height: 60px;
    background: var(--dark-blue);
    color: var(--light-green);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0 0 24px 24px;
}

#about {
    padding: 60px 0;
}

#about .title {
    font-size: 3em;
    font-weight: bold;
    color: var(--dark-blue);
    line-height: 100%;
}

#about .title span {
    color: var(--light-blue);
    font-weight: bold;
}

#about .text {
    color: var(--dark-blue);
    line-height: 180%;
}

#differentials {
    padding: 60px 0;
    background: url('images/bg_differentials.png') no-repeat center center;
    background-size: cover;
}

#differentials .title {
    font-size: 3em;
    font-weight: bold;
    color: var(--light-green);
    line-height: 100%;
}

#differentials .title span {
    color: #fff;
    font-weight: bold;
}

.differential {
    background: var(--light-green);
    padding: 24px;
    border-radius: 24px;
    min-height: 144px;
}

.differential-ico {
    border-right: #95b32d solid 1px;
}

.differential-ico img {
    display: block;
    height: 70px;
}

.differential-text {
    color: var(--dark-blue);
}

#employees {
    background-color: var(--light-blue);
    padding: 60px;
}

#employees .title {
    font-size: 3em;
    color: #fff;
    line-height: 100%;
}

#employees .title span {
    color: var(--dark-blue);
}

#customers {
    padding: 60px 0;
}

#customers .title {
    font-size: 3em;
    line-height: 100%;
    font-weight: bold;
    color: var(--dark-blue);
}

#customers .title span {
    color: var(--light-blue);
    font-weight: bold;
}

#customers .subtitle {
    font-size: 1.6em;
    line-height: 100%;
    color: var(--dark-blue);
}

#customers .subtitle span {
    color: var(--light-blue);
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	background: white;
	margin: 0 50px 0 0;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
	}
}

#footer {
    padding: 60px 0 30px 0;
    background: var(--dark-blue);
}

.footer-address {
    margin-bottom: 24px;
}

.footer-address-location {
    color: var(--light-blue);
    margin-bottom: 8px;
}

#footer address {
    color: #fff;
}

#footer address a {
    color: #fff;
    text-decoration: none;
}

#footer hr {
    background: #fff;
    height: 1px;
    width: 100%;
    border: none;
    margin-bottom: 30px;
}

.serviceModal .modal-content {
    background-color: var(--dark-blue);
    padding: 32px;
    border-radius: 32px;
    border: var(--light-blue) solid 1px;
}

.serviceModalBtnClose {
    color: var(--light-blue);
    background: none;
    border: none;
}

.serviceModal h1 {
    color: var(--light-green);
    font-weight: bold;
}

.serviceModal p {
    color: #fff;
}

.serviceModal .modalServiceItem {
    color: var(--light-green);
    padding: 16px;
    border: var(--light-green) solid 1px;
    border-radius: 8px;
    margin: 8px;
    font-size: 14px;
}

/* XL */
@media (max-width: 1399px) {
    .differential {
        min-height: 168px;
    }
}

/* LG */
@media (max-width: 1199px) {
    .differential {
        min-height: 192px;
    }
}

/* MD */
@media (max-width: 991px) {
    .differential-ico img {
        height: auto;
        width: 60px;
    }
}

/* SM */
@media (max-width: 767px) {
    
}

/* EXSM */
@media (max-width: 575px) {
    #employees .title {
        font-size: 2.5em;
    }
}